<div class="bottom bottom__banner">
  <div class="bottom__contact-info">
    <div class="bottom__card-info">
      <img src="assets/images/footer/mail-icon.png" />
      <p>hello&#64;squareup.com</p>
    </div>
    <div class="bottom__card-info">
      <img src="assets/images/footer/phone-icon.png" />
      <p>+91 91813 23 2309</p>
    </div>
    <div class="bottom__card-info">
      <img src="assets/images/footer/location-icon.png" />
      <p>Somewhere in the World</p>
    </div>
  </div>
  <div class="bottom__copyright">
    <p>&copy; 2023 Nutritionist. All rights reserved.</p>
  </div>
</div>
