@import "variables";
.footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-color: $darkGreenBgColor;

  &__navbar,
  &__banner {
    display: flex;
    justify-content: center;
    width: 95%;
  }
}
