@import "variables";

.top__banner__container {
  background-color: $darkGreenBgColor;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #234338;
}

.top__banner__content {
  background-color: $lightGreenBgColor;
  display: flex;
  height: 44px;
  width: 93%;
  border-radius: 6px;
  -webkit-box-shadow: -1px 6px 12px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -1px 6px 12px -2px rgba(0, 0, 0, 0.6);
  box-shadow: -1px 6px 12px -2px rgba(0, 0, 0, 0.6);
  color: white;
  align-items: center;
  justify-content: center;
  border: 0.1px solid #2c5446;
  gap: 5px;
  font-size: 14px;
}

.icon-right {
  padding-left: 2px;
  width: 22px;
  height: 22px;
  padding-top: 4px;
}
.icon-left {
  width: 22.9px;
  height: 22.9px;
}

.text-content {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .top__banner__content {
    width: 80%;
    gap: 10px;
    font-size: 16px;
  }

  .icon-right {
    padding: 5px 0 8px 5px;
    width: 24px;
    height: 24px;
  }
  .icon-left {
    width: 24.9px;
    height: 24.9px;
    padding-top: 2px;
  }
}

@media screen and (min-width: 1400px) {
  .top__banner__content {
    font-size: 18px;
  }

  .icon-right {
    padding: 3px 0 8px 5px;
    width: 24px;
    height: 24px;
  }
  .icon-left {
    width: 24.9px;
    height: 24.9px;
  }
}
