<section class="blog">
  <div class="blog__container">
    <div class="blog__header">
      <p class="blog__main--text">Our Blogs</p>
      <p class="blog__secondary--text">
        Our blog is a treasure trove of informative and engaging articles
        written by our team of nutritionists, dietitians, and wellness
        <br />
        experts. Here's what you can expect from our blog.
      </p>
    </div>
    <div class="blog__cards--container">
      <div class="blog__cards__left-container">
        <app-blog-card
          *ngFor="let card of leftCardData"
          [cardData]="card"
          class="blog__card"
        />
      </div>
      <div class="blog__cards__right-container">
        <app-blog-card
          *ngFor="let card of rightCardData"
          [cardData]="card"
          class="blog__card"
        />
      </div>
    </div>
  </div>
</section>
