@import "variables";

.navbar__container {
  background-color: $darkGreenBgColor;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 70px;
}

.navbar__content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navbar__logo__container {
  width: 50%;
}
.navbar__buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

@media screen and (min-width: 1024px) and (min-width: 1400px) {
  .navbar__container {
    background-color: $darkGreenBgColor;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 85px;
    position: relative;
    z-index: 9999;
  }

  .navbar__content__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
