<nav class="navbar">
  <a *ngIf="isBigScreen" class="navbar__navlink first-navlink">Home</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">About</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Team</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Process</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Pricing</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Blog</a>
  <button class="last-navlink" *ngIf="isBigScreen">
    <a class="navbar__navlink">Contact Us</a>
  </button>
  <div *ngIf="isSmallScreen" class="btn-group">
    <button
      type="button"
      (click)="toggleMenu()"
      class="btn btn-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="45"
        height="45"
        style="color: #cbea7b"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
        />
      </svg>
    </button>

    <div *ngIf="showMenu" class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="navbar__navlink dropdown-item">Home</a>
      </li>
      <li>
        <a class="navbar__navlink dropdown-item">About</a>
      </li>
      <li>
        <a class="navbar__navlink dropdown-item">Team</a>
      </li>
      <li>
        <a class="navbar__navlink dropdown-item">Process</a>
      </li>

      <li>
        <a class="navbar__navlink dropdown-item">Pricing</a>
      </li>
      <li>
        <a class="navbar__navlink dropdown-item">Blog</a>
      </li>
      <li>
        <a class="navbar__navlink dropdown-item">Contact</a>
      </li>
    </div>
  </div>
</nav>
