<nav class="navbar">
  <a *ngIf="isBigScreen" class="navbar__navlink first-navlink">Home</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">About</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Team</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Process</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Pricing</a>
  <a *ngIf="isBigScreen" class="navbar__navlink">Blog</a>
  <button class="last-navlink" *ngIf="isBigScreen">
    <a class="navbar__navlink">Contact Us</a>
  </button>

  <div class="menu-container" *ngIf="isSmallScreen">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-buton-container">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li>
        <a class="navbar__navlink">Home</a>
      </li>
      <li>
        <a class="navbar__navlink">About</a>
      </li>
      <li>
        <a class="navbar__navlink">Team</a>
      </li>
      <li>
        <a class="navbar__navlink">Process</a>
      </li>
      <li>
        <a class="navbar__navlink">Pricing</a>
      </li>
      <li>
        <a class="navbar__navlink">Blog</a>
      </li>
      <li>
        <a class="navbar__navlink">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
