.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  &__card-container {
    width: 49%;
    height: 252px;
    background-color: #f6fbe9;
    border-radius: 12px;
    border: 1px solid #e5f5bd;
  }
  &__card-content {
    margin: 39px 49px auto;
  }
  &__card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__main-text {
    font-weight: 700;
    font-size: 24px;
    margin-left: 7px;
  }
  &__secondary-text {
    font-weight: 500;
    font-size: 18px;
  }

  &__icon {
    width: 68px;
    height: 68px;
  }
}
