<div class="content">
  <div class="content__text-header">
    <app-text-header />
  </div>
  <div class="content__main-text">
    <p>
      Personalized Nutrition <br />
      Coaching
    </p>
  </div>
  <div class="content__secondary-text">
    <p>
      Welcome to Nutritionist, your partner in achieving optimal health through
      personalized nutrition coaching. Our certified nutritionists are here to
      guide you on your weight loss journey, providing customized plans and
      ongoing support. Start your transformation today and experience the power
      of personalized nutrition coaching.
    </p>
  </div>
  <div class="content__buttons">
    <app-hero-buttons />
  </div>

  <div class="content__customers">
    <app-hero-customers />
  </div>
</div>
