@import "variables";

.content {
  height: 471px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  color: $darkTextGreen;
  width: 90%;

  &__main-text {
    font-size: 48px;
    font-weight: bold;
    margin: 22px 0 22px 0;
  }
  &__secondary-text {
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    height: 481px;

    &__main-text {
      font-size: 58px;
      margin: 22px 0 22px 0;
    }
    &__secondary-text {
      font-size: 20px;
    }
  }
}
