.hero {
  height: 832px;
  width: 100%;
  display: flex;
  align-items: center;

  &__left-section > img {
    height: 832px;
    width: 949px;
  }

  &__right-section {
    height: 581px;
    width: 759px;
  }
}
