<div class="navbar">
  <div class="navbar__desktop" *ngIf="isBigScreen">
    <div class="logo">
      <img
        src="assets/images/header/navbar-logo.png"
        alt="Nutritionist Logo"
        class="navbar__logo"
      />
    </div>
    <div class="navbar__links">
      <a>Home</a>
      <a>About</a>
      <a>Team</a>
      <a>Process</a>
      <a>Pricing</a>
      <a>Blog</a>
      <a>Contact</a>
    </div>
    <div class="navbar__go-top">
      <p>Go To Top</p>
      <img
        src="assets/images/footer/bottom-navbar-buttom.png"
        class="navbar__go-top-logo"
        (click)="goToTop()"
      />
    </div>
  </div>

  <!-- Mobile Screen -->

  <div class="navbar__mobile" *ngIf="isSmallScreen">
    <div class="navbar__first-container">
      <div class="navbar__logo-container">
        <img
          src="assets/images/header/navbar-logo.png"
          alt="Nutritionist Logo"
          class="navbar__logo"
        />
      </div>
      <div class="navbar__go-top">
        <p>Go To Top</p>
        <img
          src="assets/images/footer/bottom-navbar-buttom.png"
          class="navbar__go-top-logo"
          (click)="goToTop()"
        />
      </div>
    </div>
    <div class="navbar__links">
      <a>Home</a>
      <a>About</a>
      <a>Team</a>
      <a>Process</a>
      <a>Pricing</a>
      <a>Blog</a>
      <a>Contact</a>
    </div>
  </div>
</div>
